<div class="inbox-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="inbox-left-sd">
					<div class="compose-ml">
						<a class="btn waves-effect" href ng-click="form.add(this)">New Survey</a>
					</div>
					<div class="inbox-status">
						<ul class="inbox-st-nav inbox-ft">
							<li><a href="javascript:;" ng-click="form.list(this,false)"><i class="notika-icon notika-form"></i> Surveys<span class="pull-right" ng-bind-html="pagination.surveys.filterData.length"></span></a></li>
							<li><a href="javascript:;" ng-click="form.edit(this)"><i class="notika-icon notika-draft"></i> Edit</a></li>
							<li><a href="javascript:;" ng-click="form.delete(this)"><i class="notika-icon notika-trash"></i> Delete</a></li>
						</ul>
					</div>
					<!-- <hr> -->
				</div>
			</div>
			<div id="survey-main" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<div class="inbox-text-list sm-res-mg-t-30">
					<div class="form-group">
						<div class="nk-int-st search-input search-overt">
							<input type="text" class="form-control" placeholder="Search survey" ng-model="search.survey">
							<button class="btn search-ib waves-effect">Search</button>
						</div>
					</div>
					<div class="inbox-btn-st-ls btn-toolbar">
						<!-- <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-refresh"></i> Refresh</button>
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-next"></i></button>
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-down-arrow"></i></button>
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-trash"></i></button>
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-checked"></i></button>
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-promos"></i></button>
						</div>
						<div class="btn-group ib-btn-gp active-hook nk-act nk-email-inbox">
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-left-arrow"></i></button>
							<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-right-arrow"></i></button>
						</div> -->
					</div>
					<div class="table-responsive">
						<table class="table table-hover table-inbox">
							<tbody>
								<tr ng-class-odd="'active'" ng-repeat="s in pagination.surveys.filterData = (surveys | filter:search.survey) | pagination: pagination.surveys.currentPage:pagination.surveys.pageSize">
									<td class="">
										<label class=""><div ng-class="{'icheckbox_square-green': true, 'checked': s.checked}" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" checklist-model="checks.items" checklist-value="s.id" ng-click="s.checked=!s.checked" ng-checked="s.checked"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label>
									</td>
									<td ng-bind-html="s.id"></td>
									<td ng-bind-html="s.name"></td>
									<td ng-bind-html="s.description"></td>
									<td class="text-right mail-date" ng-bind-html="s.survey_date"></td>
								</tr>								
							</tbody>
						</table>
						<div class="pagination-inbox">
							<ul uib-pagination direction-links="true" boundary-links="false" total-items="pagination.surveys.filterData.length" ng-model="pagination.surveys.currentPage" max-size="pagination.surveys.maxSize"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
