<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="normal-table-list mg-t-30">
		<div class="form-example-wrap">
			<form id="formHolder.account" name="formHolder.account" novalidate autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<button class="btn btn-default notika-btn-default waves-effect pull-right" ng-click="form.edit(this)" ng-disabled="controls.btn.edit">Edit</button>
					</div>
				</div>
				<div class="row">
					<div class="form-example-int">
						<div class="form-group col-lg-4 col-md-12">
							<label>First Name</label>
							<input type="text" class="form-control input-lg" name="firstname" ng-model="store.account.firstname" ng-disabled="controls.ok.btn" ng-class="{'border-danger': formHolder.account.firstname.$touched && formHolder.account.firstname.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.account.firstname.$touched && formHolder.account.firstname.$invalid">First name is required</span>
						</div>
						<div class="form-group col-lg-4 col-md-12">
							<label>Middle Name</label>
							<input type="text" class="form-control input-lg" name="middlename" ng-model="store.account.middlename" ng-disabled="controls.ok.btn" ng-class="{'border-danger': formHolder.account.middlename.$touched && formHolder.account.middlename.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.account.middlename.$touched && formHolder.account.middlename.$invalid">Middle name is required</span>
						</div>
						<div class="form-group col-lg-4 col-md-12">
							<label>Last Name</label>
							<input type="text" class="form-control input-lg" name="lastname" ng-model="store.account.lastname" ng-disabled="controls.ok.btn" ng-class="{'border-danger': formHolder.account.lastname.$touched && formHolder.account.lastname.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.account.lastname.$touched && formHolder.account.lastname.$invalid">Last name is required</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-example-int">
						<div class="form-group col-lg-4 col-md-12">
							<label>Username <label class="text-danger">*</label></label>
							<input type="text" class="form-control input-lg" name="username" ng-model="store.account.username" ng-disabled="controls.ok.btn" ng-class="{'border-danger': formHolder.account.username.$touched && formHolder.account.username.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.account.username.$touched && formHolder.account.username.$invalid">Username is required</span>
						</div>
						<div class="form-group col-lg-4 col-md-12">
							<label>Password</label>	<small class="pull-right" style="color: {{color}};">{{label}}</small>
							<input type="{{form.inputType}}" class="form-control input-lg" name="password" ng-change="analyze(account.password)" ng-model="store.account.password" ng-disabled="controls.ok.btn" ng-class="{'border-danger': formHolder.account.password.$touched && formHolder.account.password.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.account.password.$touched && formHolder.account.password.$invalid">Password is required</span>
							<div class="progress-bar_wrap">
							  <div ng-style="progress_bar_item_1"></div>
							  <div ng-style="progress_bar_item_2"></div>
							  <div ng-style="progress_bar_item_3"></div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
									<input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" ng-disabled="settings.btns.security.edit" ng-model="form.passwordCheckbox" ng-click="form.hideShowPassword()">
									<label for="styled-checkbox-1">Show password</label>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-4 col-md-12">
							<label>Group</label>
							<select class="form-control input-lg" name="groups" ng-model="store.account.groups" ng-disabled="controls.ok.btn" ng-options="group.name for group in groups track by group.id" ng-class="{'border-danger': formHolder.account.groups.$touched && formHolder.account.groups.$invalid}" required></select>
							<span class="text-danger" ng-show="formHolder.account.groups.$touched && formHolder.account.groups.$invalid">Group is required</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-example-int">				
						<div class="form-group col-lg-4 col-md-12">
							<label>Office</label>
							<select class="form-control input-lg" name="office" ng-model="store.account.office" ng-disabled="controls.ok.btn" ng-options="office.office_name for office in offices track by office.id" ng-class="{'border-danger': formHolder.account.office.$touched && formHolder.account.office.$invalid}" required></select>
							<span class="text-danger" ng-show="formHolder.account.office.$touched && formHolder.account.office.$invalid">Office is required</span>
						</div>					
					</div>					
				</div>
			</form>
			
			<div class="row">
				<div class="col-lg-12">
					<button class="btn btn-success notika-btn-success waves-effect" ng-click="form.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
					<button class="btn btn-success notika-btn-success waves-effect" ng-click="form.cancel(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
