<div class="row" style="margin-bottom: 25px;">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="form-example-int form-example-st">
			<div class="form-group">
				<div class="nk-int-st">
					<input type="text" class="form-control input-sm" placeholder="Display Name" name="item" ng-model="form.survey.text.item">
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="form-example-int form-example-st">
			<div class="form-group">
				<div class="nk-int-st">
					<input type="text" class="form-control input-sm" placeholder="Data Type" name="data_type" ng-model="form.survey.text.data_type">
				</div>
			</div>
		</div>
	</div>	
</div>