<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="normal-table-list mg-t-30">
		<div class="form-example-wrap">
			<form id="formHolder.group" name="formHolder.group" novalidate autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<button class="btn btn-default notika-btn-default waves-effect pull-right" ng-click="form.edit(this)" ng-disabled="controls.btn.edit">Edit</button>
					</div>
				</div>
				<div class="row">
					<div class="form-example-int">
						<div class="form-group col-lg-6">
							<label>Group Name</label>
							<input type="text" class="form-control input-lg" name="name" ng-model="group.name" ng-disabled="controls.ok.btn" placeholder="Enter Name" ng-class="{'border-danger': formHolder.group.name.$touched && formHolder.group.name.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.group.name.$touched && formHolder.group.name.$invalid">Group name is required</span>
						</div>
						<div class="form-group col-lg-6">
							<label>Group Description</label>
							<input type="text" class="form-control input-lg" name="description" ng-model="group.description" ng-disabled="controls.ok.btn" placeholder="Enter Description" ng-class="{'border-danger': formHolder.group.description.$touched && formHolder.group.description.$invalid}" required>
							<span class="text-danger" ng-show="formHolder.group.description.$touched && formHolder.group.description.$invalid">Group description is required</span>
						</div>
					</div>
				</div>
				<br>
				
				<div class="row">
					<div class="form-group col-lg-12" ng-repeat="p in privileges">
						<div class="x_title">
							<h4>{{p.description}}</h4>
							<ul class="nav navbar-right panel_toolbox">
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="row">		
							<div class="col-lg-3 form-group" ng-repeat="pp in p.privileges">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="toggle-select-act fm-cmp-mg">
											<h6>{{pp.description}}</h6>
											<div class="nk-toggle-switch" data-ts-color="green">
												<input type="checkbox" ng-checked="pp.value" ng-model="pp.value" ng-disabled="controls.ok.btn">
												<label class="ts-helper"></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			
			<div class="row">
				<div class="col-lg-12">
					<button class="btn btn-success notika-btn-success waves-effect" ng-click="form.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
					<button class="btn btn-success notika-btn-success waves-effect" ng-click="form.cancel(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
				</div>
			</div>
		</div>
	</div>
</div>
