<div class="view-mail-list sm-res-mg-t-30">
	<div class="view-mail-hd">
		<div class="view-mail-hrd">
			<h2>New Survey</h2>
		</div>
		<!-- <div class="view-ml-rl">
			<p>08:26 PM (2 hours ago)</p>
		</div> -->
	</div>
	<div class="mail-ads mail-vw-ph">
		<!-- <p class="first-ph"><b>Subject: </b>Lorem Ipsum has been the industry's standard dummy text ever</p> -->
		<!-- <p><b>Email:</b> <a href="#">example.@email.com</a></p> -->
		<!-- <p class="last-ph"><b>Date:</b> 15.03.2018</p> -->
	</div>
	<div class="view-mail-atn">
		<form editable-form name="formHolder.survey" novalidate autocomplete="off">
			<div class="cmp-tb-hd bcs-hd">
				<h2>Survey Info</h2>
				<!-- <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. </p> -->
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="form-group ic-cmp-int">
						<div class="form-ic-cmp">
							<i class="fa fa-edit"></i>
						</div>
						<div class="nk-int-st">
							<input type="text" class="form-control" ng-class="{'border-danger': formHolder.survey.name.$invalid && formHolder.survey.name.$touched}" placeholder="Name" name="name" ng-model="survey.name" required>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="form-group ic-cmp-int">
						<div class="form-ic-cmp">
							<i class="fa fa-edit"></i>
						</div>
						<div class="nk-int-st">
							<input type="text" class="form-control" ng-class="{'border-danger': formHolder.survey.description.$invalid && formHolder.survey.description.$touched}" placeholder="Description" name="description" ng-model="survey.description" required>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div ng-repeat="(section_index,ss) in survey.sections track by section_index">
						<hr>
						<div class="basic-tb-hd">
							<button class="btn btn-sm notika-btn-deeporange waves-effect pull-right" ng-click="form.sections.remove(ss)"><span style="color: #fff;"><i class="notika-icon notika-trash"></i></span></button>						
							<h1>
							 <div class="popover-wrapper">
								<a href="javascript:;" editable-text="ss.section_name" e-single>{{ ss.section_name || "Section Name" }}</a>
							 </div>
							</h1>
							<p>Add immediate items to this section by clicking "Add Item" button below</p>
						</div>
						<div class="bsc-tbl">						
							
							<div class="form-example-wrap" ng-repeat="(section_item_index,ssi) in ss.items track by section_item_index">
								<div class="form-example-int form-horizental">
									<button class="btn btn-xs btn-danger notika-btn-danger waves-effect" ng-click="form.section_items.remove(ss,ssi)"><i class="notika-icon notika-trash"></i></button>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
												<label class="hrzn-fm">Name</label>
											</div>
											<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
												<div class="nk-int-st">
												 <div class="popover-wrapper">
													<a href="javascript:;" editable-text="ssi.item_name" e-single>{{ssi.item_name || "Item Name"}}</a>
												 </div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-example-int form-horizental mg-t-15">
									<div class="form-group">
										<div class="row">
											<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
												<label class="hrzn-fm">Type</label>
											</div>
											<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
												<div class="nk-int-st">
												 <div class="popover-wrapper">
													<a href="javascript:;" editable-select="ssi.item_type" e-ng-options="it.id as it.description for it in item_types" e-single>{{item_type_selected(ssi.item_type)}}</a>
												 </div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-example-int form-horizental mg-t-15">
									<div class="form-group">
										<div class="row">
											<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
												<label class="hrzn-fm">Infographic</label>
											</div>
											<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
												<div class="nk-int-st">
													<div class="images-container">													
														<div ng-show="ssi.item_infographic != null" class="image-container">
															<div class="controls">
																<a href="javascript:;" class="control-btn remove" remove-ssi-ig="{{section_index}},{{section_item_index}}">
																	<i class="notika-icon notika-trash"></i>
																</a>
															</div>														
															<img id="ssi_{{section_index}}{{section_item_index}}" class="image ssi-infographic" src="{{ssi.item_infographic}}">
														</div>
														<input type="file" style="display: none;" id="upload-ssi-infographic_{{section_index}}{{section_item_index}}" add-ssi-ig="{{section_index}},{{section_item_index}}">
														<a ng-show="ssi.item_infographic == null" href="javascript:;" ng-click="form.addSsiIg(section_index,section_item_index)">
															<div class="image-container new">
																<div class="ssi-infographic">
																	<i class="notika-icon notika-plus-symbol"></i>
																</div>
															</div>
														</a>	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div ng-show="ssi.item_type == 6" class="form-example-int form-horizental mg-t-15">
									<div class="form-group">
										<div class="row">
											<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
												<label class="hrzn-fm">Presentation</label>
											</div>
											<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
												<div class="nk-int-st">
													<div class="popover-wrapper">
														<a href="javascript:;" editable-select="ssi.item_presentation" e-ng-options="ip.id as ip.description for ip in presentations" e-single>{{item_presentation_selected(ssi.item_presentation)}}</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-example-int form-horizental mg-t-15">
									<div class="form-group">
										<div class="row">
											<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
												<label class="hrzn-fm">Values</label>
											</div>
											<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
												<div class="nk-int-st">

													<div class="row">
														<div class="col-lg-12">
															<table class="table item-values" ng-show="ssi.item_type != undefined">
																<thead>
																	<tr><th>Display</th><th ng-show="(ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 6)">Value</th><th ng-show="ssi.item_type == 6">Images<input type="checkbox" ng-model="ssi.use_images" ng-checked="ssi.use_images" style="display: inline-block; position: relative; left: 5px; top: 1px;"></th><th ng-show="ssi.item_type == 1">Min</th><th ng-show="ssi.item_type == 1">Max</th><th ng-show="ssi.item_type == 3">Data Type</th><th ng-show="ssi.item_type == 7">Row Type</th><th ng-show="(ssi.item_type == 1) || (ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 7)">Sub</th><th><button class="btn btn-xs notika-btn-amber waves-effect" ng-click="form.section_item_values.add(ss,ssi)"><span style="color:#fff;"><i class="notika-icon notika-plus-symbol"></span></i></button></th></tr>
																</thead>
																<tbody>
																	<tr ng-repeat="(siv_index,v) in ssi.values track by siv_index">
																		<td>
																			<div class="popover-wrapper">
																				<a href="javascript:;" editable-text="v.display" e-single>{{v.display || "Display Name"}}</a>
																			</div>														
																		</td>
																		<td ng-show="(ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 6)">
																			<div class="popover-wrapper">
																				<input type="checkbox" ng-show="ssi.item_type == 4" ng-model="v.siv_value_other" ng-checked="v.siv_value_other" style="display: inline-block; margin-right: 3px; position: relative;">
																				<a href="javascript:;" editable-text="v.siv_value" e-single>{{v.siv_value || "Value"}}</a>
																			</div>																			
																		</td>																		
																		<td ng-show="ssi.item_type == 6">
																			
																			<div class="images-container" ng-show="ssi.use_images">													
																				<div ng-show="v.siv_infographic != null" class="image-container">
																					<div class="controls">
																						<a href="javascript:;" class="control-btn remove" remove-siv-ig="{{section_index}},{{section_item_index}},{{siv_index}}">
																							<i class="notika-icon notika-trash"></i>
																						</a>
																					</div>														
																					<img id="siv_{{section_index}}{{section_item_index}}{{siv_index}}" class="image siv-infographic" src="{{v.siv_infographic}}">
																				</div>
																				<input type="file" style="display: none;" id="upload-siv-infographic_{{section_index}}{{section_item_index}}{{siv_index}}" add-siv-ig="{{section_index}},{{section_item_index}},{{siv_index}}">
																				<a ng-show="v.siv_infographic == null" href="javascript:;" ng-click="form.addSivIg(section_index,section_item_index,siv_index)">
																					<div class="image-container new">
																						<div class="siv-infographic">
																							<i class="notika-icon notika-plus-symbol"></i>
																						</div>
																					</div>
																				</a>	
																			</div>																			
																			
																		</td>
																		<td ng-show="ssi.item_type == 1">
																			<div class="popover-wrapper">
																				<input type="checkbox" ng-model="v.min_below" ng-checked="v.min_below" style="display: inline-block; margin-right: 3px; position: relative;">
																				<a href="javascript:;" editable-text="v.siv_min" e-single>{{v.siv_min || "Min Value"}}</a>
																			</div>															
																		</td>
																		<td ng-show="ssi.item_type == 1">
																			<div class="popover-wrapper">
																				<input type="checkbox" ng-model="v.max_above" ng-checked="v.max_above" style="display: inline-block; margin-right: 3px; position: relative;">
																				<a href="javascript:;" editable-text="v.siv_max" e-single>{{v.siv_max || "Max Value"}}</a>
																			</div>																
																		</td>
																		<td ng-show="ssi.item_type == 3">
																			<div class="popover-wrapper">
																				<a href="javascript:;" editable-select="v.data_type" e-ng-options="tit.id as tit.description for tit in text_input_types" e-single>{{text_input_type_selected(v.data_type)}}</a>
																			</div>																			
																		</td>
																		<td ng-show="ssi.item_type == 7">
																			<div class="popover-wrapper">
																				<a href="javascript:;" editable-select="v.row_type" e-ng-options="rt.id as rt.description for rt in multi_rows_row_types" e-single>{{multi_rows_row_type_selected(v.row_type)}}</a>
																			</div>																			
																		</td>																		
																		<td ng-show="(ssi.item_type == 1) || (ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 7)">
																			<span ng-show="(ssi.item_type == 1) || (ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 7 && v.row_type == 1)">Show Sub Items: <input ng-model="v.show_subitems" ng-checked="v.show_subitems" type="checkbox" style="display: inline-block; margin-left: 3px; position: relative; top: 3px;"></span>
																			<table class="table item-values" ng-show="v.show_subitems">
																				<thead>
																					<tr><th>Display</th><th ng-show="(ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 6) || (ssi.item_type == 7)">Value</th><th ng-show="ssi.item_type == 1">Min</th><th ng-show="ssi.item_type == 1">Max</th><th ng-show="ssi.item_type == 3">Data Type</th><th><button class="btn btn-xs notika-btn-amber waves-effect" ng-click="form.value_sub_items.add(v.sub_items)"><span style="color:#fff;"><i class="notika-icon notika-plus-symbol"></i></span></button></th></tr>
																				</thead>
																				<tbody>
																					<tr ng-repeat="vsi in v.sub_items">																						
																						<td>
																							<div class="popover-wrapper">
																								<a href="javascript:;" editable-text="vsi.display" e-single>{{vsi.display || "Display Name"}}</a>
																							</div>														
																						</td>
																						<td ng-show="(ssi.item_type == 2) || (ssi.item_type == 4) || (ssi.item_type == 5) || (ssi.item_type == 6) || (ssi.item_type == 7)">
																							<div class="popover-wrapper">
																								<input type="checkbox" ng-show="ssi.item_type == 4" ng-model="vsi.vsi_value_other" ng-checked="vsi.vsi_value_other" style="display: inline-block; margin-right: 3px; position: relative;">
																								<a href="javascript:;" editable-text="vsi.vsi_value" e-single>{{vsi.vsi_value || "Value"}}</a>
																							</div>																			
																						</td>
																						<td ng-show="ssi.item_type == 1">
																							<div class="popover-wrapper">
																								<input type="checkbox" ng-model="vsi.min_below" ng-checked="vsi.min_below" style="display: inline-block; margin-right: 3px; position: relative;">
																								<a href="javascript:;" editable-text="vsi.vsi_min" e-single>{{vsi.vsi_min || "Min Value"}}</a>
																							</div>															
																						</td>
																						<td ng-show="ssi.item_type == 1">
																							<div class="popover-wrapper">
																								<input type="checkbox" ng-model="vsi.max_above" ng-checked="vsi.max_above" style="display: inline-block; margin-right: 3px; position: relative;">
																								<a href="javascript:;" editable-text="vsi.vsi_max" e-single>{{vsi.vsi_max || "Max Value"}}</a>
																							</div>																
																						</td>
																						<td ng-show="ssi.item_type == 3">
																							<div class="popover-wrapper">
																								<a href="javascript:;" editable-select="vsi.data_type" e-ng-options="tit.id as tit.description for tit in text_input_types" e-single>{{text_input_type_selected(vsi.data_type)}}</a>
																							</div>																			
																						</td>
																						<td>
																							<button class="btn btn-xs btn-danger notika-btn-danger waves-effect" ng-click="form.value_sub_items.remove(v,v.sub_items,vsi)"><i class="notika-icon notika-trash"></i></button>																							
																						</td>
																					</tr>
																				</tbody>																				
																			</table>
																			
																		
																		</td>
																		<td>
																			<button class="btn btn-xs btn-danger notika-btn-danger waves-effect" ng-click="form.section_item_values.remove(ss,ssi,v)"><i class="notika-icon notika-trash"></i></button>															
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>							
							</div>							
							
							<button class="btn notika-btn-pink waves-effect pull-right" ng-click="form.section_items.add(ss)"><span style="color: #fff;">Add Item</span></button>
							<div class="clearfix"></div>
						</div>
						
						<div ng-repeat="(aspect_index,sa) in ss.aspects track by aspect_index" style="margin-top: 35px;">
							<div class="bsc-tbl">							
								
								<div class="form-example-wrap">
									<button class="btn btn-sm notika-btn-deeporange waves-effect" ng-click="form.section_aspects.remove(ss,sa)"><span style="color: #fff;"><i class="notika-icon notika-trash"></i></span></button>
									<div class="cmp-tb-hd cmp-int-hd" style="margin-top: 10px;">
										<h5>
										 <div class="popover-wrapper">
											<a href="javascript:;" editable-text="sa.aspect_name" e-single>{{ sa.aspect_name || "Aspect Name" }}</a>
										 </div>										
										</h5>
										<p style="margin-top: 8px;">Add items to this aspect by clicking "Add Item" button below</p>
									</div>
									<div ng-repeat="(aspect_item_index,sai) in sa.items track by aspect_item_index">
										<div class="form-example-int form-horizental">
											<button class="btn btn-xs btn-danger notika-btn-danger waves-effect" ng-click="form.aspect_items.remove(ss,sa,sai)"><i class="notika-icon notika-trash"></i></button>
											<div class="form-group">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
														<label class="hrzn-fm">Name</label>
													</div>
													<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
														<div class="nk-int-st">
															<div class="popover-wrapper">
																<a href="javascript:;" editable-text="sai.item_name" e-single>{{sai.item_name || "Item Name"}}</a>
															</div>														
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-example-int form-horizental mg-t-15">
											<div class="form-group">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
														<label class="hrzn-fm">Type</label>
													</div>
													<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
														<div class="nk-int-st">
															<div class="popover-wrapper">
																<a href="javascript:;" editable-select="sai.item_type" e-ng-options="it.id as it.description for it in item_types" e-single>{{item_type_selected(sai.item_type)}}</a>
															</div>														
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div ng-show="sai.item_type == 6" class="form-example-int form-horizental mg-t-15">
											<div class="form-group">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
														<label class="hrzn-fm">Presentation</label>
													</div>
													<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
														<div class="nk-int-st">
															<div class="popover-wrapper">
																<a href="javascript:;" editable-select="sai.item_presentation" e-ng-options="ip.id as ip.description for ip in presentations" e-single>{{item_presentation_selected(sai.item_presentation)}}</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>										
										
										<div class="form-example-int form-horizental mg-t-15">
											<div class="form-group">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
														<label class="hrzn-fm">Infographic</label>
													</div>
													<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
														<div class="nk-int-st">
															<div class="images-container">													
																<div ng-show="sai.item_infographic != null" class="image-container">
																	<div class="controls">
																		<a href="javascript:;" class="control-btn remove" remove-sai-ig="{{section_index}},{{aspect_index}},{{aspect_item_index}}">
																			<i class="notika-icon notika-trash"></i>
																		</a>
																	</div>														
																	<img id="sai_{{section_index}}{{aspect_index}}{{aspect_item_index}}" class="image ssi-infographic" src="{{sai.item_infographic}}">
																</div>
																<input type="file" style="display: none;" id="upload-sai-infographic_{{section_index}}{{aspect_index}}{{aspect_item_index}}" add-sai-ig="{{section_index}},{{aspect_index}},{{aspect_item_index}}">
																<a ng-show="sai.item_infographic == null" href="javascript:;" ng-click="form.addSaiIg(section_index,aspect_index,aspect_item_index)">
																	<div class="image-container new">
																		<div class="ssi-infographic">
																			<i class="notika-icon notika-plus-symbol"></i>
																		</div>
																	</div>
																</a>	
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
								
										<div class="form-example-int form-horizental mg-t-15">
											<div class="form-group">
												<div class="row">
													<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
														<label class="hrzn-fm">Values</label>
													</div>
													<div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
														<div class="nk-int-st">
															<div class="row">
																<div class="col-lg-12">														
																	<table class="table item-values" ng-show="sai.item_type != undefined">
																		<thead>
																			<tr><th>Display</th><th ng-show="(sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 6)">Value</th><th ng-show="sai.item_type == 6">Images<input type="checkbox" ng-model="sai.use_images" ng-checked="sai.use_images" style="display: inline-block; position: relative; left: 5px; top: 1px;"></th><th ng-show="sai.item_type == 1">Min</th><th ng-show="sai.item_type == 1">Max</th><th ng-show="sai.item_type == 3">Data Type</th><th ng-show="sai.item_type == 7">Row Type</th><th ng-show="(sai.item_type == 1) || (sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 7)">Sub</th><th><button class="btn btn-xs notika-btn-amber waves-effect" ng-click="form.aspect_item_values.add(ss,sa,sai)"><span style="color:#fff;"><i class="notika-icon notika-plus-symbol"></span></i></button></th></tr>
																		</thead>
																		<tbody>
																			<tr ng-repeat="(saiv_index,v) in sai.values track by saiv_index">
																				<td>
																					<div class="popover-wrapper">
																						<a href="javascript:;" editable-text="v.display" e-single>{{v.display || "Display Name"}}</a>
																					</div>														
																				</td>
																				<td ng-show="(sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 6)">
																					<div class="popover-wrapper">
																						<input type="checkbox" ng-show="sai.item_type == 4" ng-model="v.siv_value_other" ng-checked="v.siv_value_other" style="display: inline-block; margin-right: 3px; position: relative;">
																						<a href="javascript:;" editable-text="v.siv_value" e-single>{{v.siv_value || "Value"}}</a>
																					</div>																			
																				</td>																				
																				<td ng-show="sai.item_type == 6">
																					
																					<div class="images-container" ng-show="sai.use_images">													
																						<div ng-show="v.siv_infographic != null" class="image-container">
																							<div class="controls">
																								<a href="javascript:;" class="control-btn remove" remove-saiv-ig="{{section_index}},{{aspect_index}},{{aspect_item_index}},{{saiv_index}}">
																									<i class="notika-icon notika-trash"></i>
																								</a>
																							</div>														
																							<img id="saiv_{{section_index}}{{aspect_index}}{{aspect_item_index}}{{saiv_index}}" class="image siv-infographic" src="{{v.siv_infographic}}">
																						</div>
																						<input type="file" style="display: none;" id="upload-saiv-infographic_{{section_index}}{{aspect_index}}{{aspect_item_index}}{{saiv_index}}" add-saiv-ig="{{section_index}},{{aspect_index}},{{aspect_item_index}},{{saiv_index}}">
																						<a ng-show="v.siv_infographic == null" href="javascript:;" ng-click="form.addSaivIg(section_index,aspect_index,aspect_item_index,saiv_index)">
																							<div class="image-container new">
																								<div class="siv-infographic">
																									<i class="notika-icon notika-plus-symbol"></i>
																								</div>
																							</div>
																						</a>	
																					</div>																			
																					
																				</td>																		
																				<td ng-show="sai.item_type == 1">
																					<div class="popover-wrapper">
																						<input type="checkbox" ng-model="v.min_below" ng-checked="v.min_below" style="display: inline-block; margin-right: 3px; position: relative;">
																						<a href="javascript:;" editable-text="v.siv_min" e-single>{{v.siv_min || "Min Value"}}</a>
																					</div>															
																				</td>
																				<td ng-show="sai.item_type == 1">
																					<div class="popover-wrapper">
																						<input type="checkbox" ng-model="v.max_above" ng-checked="v.max_above" style="display: inline-block; margin-right: 3px; position: relative;">
																						<a href="javascript:;" editable-text="v.siv_max" e-single>{{v.siv_max || "Max Value"}}</a>
																					</div>																
																				</td>
																				<td ng-show="sai.item_type == 3">
																					<div class="popover-wrapper">
																						<a href="javascript:;" editable-select="v.data_type" e-ng-options="tit.id as tit.description for tit in text_input_types" e-single>{{text_input_type_selected(v.data_type)}}</a>
																					</div>																			
																				</td>
																				<td ng-show="sai.item_type == 7">
																					<div class="popover-wrapper">
																						<a href="javascript:;" editable-select="v.row_type" e-ng-options="rt.id as rt.description for rt in multi_rows_row_types" e-single>{{multi_rows_row_type_selected(v.row_type)}}</a>
																					</div>																			
																				</td>
																				<td ng-show="(sai.item_type == 1) || (sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 7)">
																					<span ng-show="(sai.item_type == 1) || (sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 7 && v.row_type == 1)">Show Sub Items: <input ng-model="v.show_subitems" ng-checked="v.show_subitems" class="checkbox" type="checkbox" style="display: inline-block; margin-left: 3px; position: relative; top: 3px;"></span>
																					<table class="table item-values" ng-show="v.show_subitems">
																						<thead>
																							<tr><th>Display</th><th ng-show="(sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 6) || (sai.item_type == 7)">Value</th><th ng-show="sai.item_type == 1">Min</th><th ng-show="sai.item_type == 1">Max</th><th ng-show="sai.item_type == 3">Data Type</th><th><button class="btn btn-xs notika-btn-amber waves-effect" ng-click="form.value_sub_items.add(v.sub_items)"><span style="color:#fff;"><i class="notika-icon notika-plus-symbol"></i></span></button></th></tr>
																						</thead>
																						<tbody>
																							<tr ng-repeat="vsi in v.sub_items">																						
																								<td>
																									<div class="popover-wrapper">
																										<a href="javascript:;" editable-text="vsi.display" e-single>{{vsi.display || "Display Name"}}</a>
																									</div>														
																								</td>
																								<td ng-show="(sai.item_type == 2) || (sai.item_type == 4) || (sai.item_type == 5) || (sai.item_type == 6) || (sai.item_type == 7)">
																									<div class="popover-wrapper">
																										<input type="checkbox" ng-show="sai.item_type == 4" ng-model="vsi.vsi_value_other" ng-checked="vsi.vsi_value_other" style="display: inline-block; margin-right: 3px; position: relative;">																									
																										<a href="javascript:;" editable-text="vsi.vsi_value" e-single>{{vsi.vsi_value || "Value"}}</a>
																									</div>																			
																								</td>
																								<td ng-show="sai.item_type == 1">
																									<div class="popover-wrapper">
																										<input type="checkbox" ng-model="vsi.min_below" ng-checked="vsi.min_below" style="display: inline-block; margin-right: 3px; position: relative;">
																										<a href="javascript:;" editable-text="vsi.vsi_min" e-single>{{vsi.vsi_min || "Min Value"}}</a>
																									</div>															
																								</td>
																								<td ng-show="sai.item_type == 1">
																									<div class="popover-wrapper">
																										<input type="checkbox" ng-model="vsi.max_above" ng-checked="vsi.max_above" style="display: inline-block; margin-right: 3px; position: relative;">
																										<a href="javascript:;" editable-text="vsi.vsi_max" e-single>{{vsi.vsi_max || "Max Value"}}</a>
																									</div>																
																								</td>
																								<td ng-show="sai.item_type == 3">
																									<div class="popover-wrapper">
																										<a href="javascript:;" editable-select="vsi.data_type" e-ng-options="tit.id as tit.description for tit in text_input_types" e-single>{{text_input_type_selected(vsi.data_type)}}</a>
																									</div>																			
																								</td>
																								<td>
																									<button class="btn btn-xs btn-danger notika-btn-danger waves-effect" ng-click="form.value_sub_items.remove(v,v.sub_items,vsi)"><i class="notika-icon notika-trash"></i></button>																							
																								</td>
																							</tr>
																						</tbody>																				
																					</table>
																					
																				
																				</td>																				
																				<td>
																					<button class="btn btn-xs btn-danger notika-btn-danger waves-effect" ng-click="form.aspect_item_values.remove(ss,sa,sai,v)"><i class="notika-icon notika-trash"></i></button>															
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
								
								<button class="btn notika-btn-indigo btn-reco-mg btn-button-mg waves-effect pull-right" ng-click="form.aspect_items.add(ss,sa)"><span style="color: #fff;">Add Item</span></button>
								<div class="clearfix"></div>								
							</div>							
						</div>
						
						<div class="basic-tb-hd" style="margin-top: 25px;">
							<button class="btn btn-info waves-effect" ng-click="form.section_aspects.add(ss)">Add Aspects</button>
                        </div>
						
					</div>
					<hr>
					<div class="cmp-tb-hd bcs-hd" style="margin-top: 25px;">
						<button class="btn btn-info waves-effect" ng-click="form.sections.add()"><span style="color: #fff;">Add Section</span></button>
					</div>					
				</div>
			</div>
			
		</form>
	</div>
	<!-- <div class="file-download-system">
		<div class="dw-st-ic mg-t-20">
			<div class="dw-atc-sn">
			<span><i class="notika-icon notika-paperclip"></i> 4 attachments <i class="notika-icon notika-arrow-right atc-sign"></i></span>
			</div>
			<div class="dw-atc-sn">
			<a class="btn dw-al-ft waves-effect" href="#">Download all in zip format <i class="notika-icon notika-file"></i></a>
			</div>
		</div>
	</div> -->
	<div class="vw-ml-action-ls text-right mg-t-20">
		<div class="btn-group ib-btn-gp active-hook nk-email-inbox">
			<button class="btn btn-default btn-sm waves-effect" ng-disabled="controls.ok.btn" ng-click="form.save()"><i class="fa fa-floppy-o"></i> {{controls.ok.label}}</button>
			<button class="btn btn-default btn-sm waves-effect" ng-disabled="controls.cancel.btn" ng-click="form.cancel()"><i class="notika-icon notika-close"></i> {{controls.cancel.label}}</button>
		</div>
	</div>
</div>