<div class="view-mail-list sm-res-mg-t-30">
	<div class="view-mail-hd">
		<div class="view-mail-hrd">
			<h2>New Survey</h2>
		</div>
		<!-- <div class="view-ml-rl">
			<p>08:26 PM (2 hours ago)</p>
		</div> -->
	</div>
	<div class="mail-ads mail-vw-ph">
		<!-- <p class="first-ph"><b>Subject: </b>Lorem Ipsum has been the industry's standard dummy text ever</p> -->
		<!-- <p><b>Email:</b> <a href="#">example.@email.com</a></p> -->
		<!-- <p class="last-ph"><b>Date:</b> 15.03.2018</p> -->
	</div>
	<div class="view-mail-atn">
		<form name="formHolder.survey" novalidate autocomplete="off">
			<div class="cmp-tb-hd bcs-hd">
				<h2>Basic Information</h2>
				<!-- <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. </p> -->
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="form-group ic-cmp-int">
						<div class="form-ic-cmp">
							<i class="fa fa-edit"></i>
						</div>
						<div class="nk-int-st">
							<input type="text" class="form-control" ng-class="{'border-danger': formHolder.survey.name.$invalid && formHolder.survey.name.$touched}" placeholder="Name" name="name" ng-model="survey.name" required>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="form-group ic-cmp-int">
						<div class="form-ic-cmp">
							<i class="fa fa-edit"></i>
						</div>
						<div class="nk-int-st">
							<input type="text" class="form-control" ng-class="{'border-danger': formHolder.survey.description.$invalid && formHolder.survey.description.$touched}" placeholder="Description" name="description" ng-model="survey.description" required>
						</div>
					</div>
				</div>
			</div>
			<div class="cmp-tb-hd bcs-hd" style="margin-top: 30px;">
				<h2>Survey Demographics</h2>
				<!-- <p>Place one add-on or button on either side of an input. You may also place one on both sides of an input. </p> -->
			</div>			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="basic-tb-hd">
							<button class="btn btn-success notika-btn-success" ng-click="form.survey.demographics(this)">Add</button>						
                        </div>							
						<div class="bsc-tbl">
							<table class="table table-sc-ex">
								<thead>
									<tr>
										<th>#</th><th>Name</th><th>Type</th><th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sd in survey.demographics">
										<td>{{$index+1}}</td><td>{{sd.name}}</td><td>{{sd.description}}</td>
										<td>
											<button class="btn btn-success notika-btn-success waves-effect" ng-click="form.survey.edit(this,sd)" style="margin-right: 5px;"><i class="notika-icon notika-edit"></i></button>
											<button class="btn btn-danger notika-btn-danger waves-effect" ng-click="form.survey.delete(this,sd)"><i class="notika-icon notika-trash"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</form>
	</div>
	<!-- <div class="file-download-system">
		<div class="dw-st-ic mg-t-20">
			<div class="dw-atc-sn">
			<span><i class="notika-icon notika-paperclip"></i> 4 attachments <i class="notika-icon notika-arrow-right atc-sign"></i></span>
			</div>
			<div class="dw-atc-sn">
			<a class="btn dw-al-ft waves-effect" href="#">Download all in zip format <i class="notika-icon notika-file"></i></a>
			</div>
		</div>
	</div> -->
	<div class="vw-ml-action-ls text-right mg-t-20">
		<div class="btn-group ib-btn-gp active-hook nk-email-inbox">
			<button class="btn btn-default btn-sm waves-effect"><i class="fa fa-floppy-o"></i> Save</button>
			<button class="btn btn-default btn-sm waves-effect"><i class="notika-icon notika-close"></i> Cancel</button>
		</div>
	</div>
</div>